In [9]:
import pandas as pd

In [16]:
df = pd.read_csv(r"C:\Users\user\Downloads\BMW sales data (2010-2024) (1).csv")
print (df)

          Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0                3.5      151748      98740          8300                 High
1                1.6      121671      79219          3428                  Low
2                4.5       10991     113265          6994                  Low
3                1.7       27255      60971          4047                  Low
4                2.1      122131      49898          3080                  Low
...              ...         ...        ...           ...                  ...
49995            4.6      151030      42932          8182                 High
49996            4.2      147396      48714          9816                 High
49997            4.5      174939      46126          8280                 High
49998            3.8        3379      58566          9486                 High
49999            3.3      171003      77492          1764                  Low

[50000 rows x 11 columns]

In [17]:
print(df.head())

      Model  Year         Region  Color Fuel_Type Transmission  Engine_Size_L  \
0  5 Series  2016           Asia    Red    Petrol       Manual            3.5
1        i8  2013  North America    Red    Hybrid    Automatic            1.6
2  5 Series  2022  North America   Blue    Petrol    Automatic            4.5
3        X3  2024    Middle East   Blue    Petrol    Automatic            1.7
4  7 Series  2020  South America  Black    Diesel       Manual            2.1

   Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0      151748      98740          8300                 High
1      121671      79219          3428                  Low
2       10991     113265          6994                  Low
3       27255      60971          4047                  Low
4      122131      49898          3080                  Low

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB
None

In [19]:
# Step 5: Summary statistic
print(df.describe())

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [20]:
# Step 6: Check for missing values
print("\nMissing values:")
print(df.isnull().sum())

Missing values:
Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [27]:
df.tail(20)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
49980,i3,2022,Asia,White,Hybrid,Automatic,5.0,38575,112981,6123,Low
49981,M3,2013,Europe,Silver,Hybrid,Manual,1.7,128784,47367,3936,Low
49982,M3,2024,Asia,Silver,Hybrid,Automatic,1.7,198846,85034,7888,High
49983,3 Series,2019,South America,Silver,Hybrid,Automatic,1.8,123127,63197,3146,Low
49984,5 Series,2019,North America,White,Diesel,Manual,4.5,48562,31520,7108,High
49985,M3,2013,North America,Blue,Diesel,Automatic,4.1,187308,72924,8236,High
49986,X3,2018,Middle East,Grey,Petrol,Manual,4.9,16401,66446,9916,High
49987,M3,2017,Asia,Black,Hybrid,Manual,1.7,9311,56421,1216,Low
49988,X5,2013,South America,Grey,Hybrid,Manual,3.9,177571,73736,2041,Low
49989,5 Series,2015,Africa,Grey,Electric,Manual,3.4,148049,90050,7710,High
49990,3 Series,2016,North America,Grey,Petrol,Automatic,3.7,199549,73173,9181,High
49991,X5,2019,Asia,White,Diesel,Automatic,3.3,162639,33217,1904,Low
49992,i3,2017,Middle East,Blue,Petrol,Automatic,3.9,79874,115046,9015,High
49993,5 Series,2013,Europe,Grey,Petrol,Manual,4.7,155013,80263,3700,Low
49994,5 Series,2010,North America,Silver,Petrol,Manual,3.6,56672,32990,1575,Low
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [28]:
df.shape

(50000, 11)

In [30]:
df.columns

Index(['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission',
       'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume',
       'Sales_Classification'],
      dtype='object')

In [31]:
df.values

array([['5 Series', 2016, 'Asia', ..., 98740, 8300, 'High'],
       ['i8', 2013, 'North America', ..., 79219, 3428, 'Low'],
       ['5 Series', 2022, 'North America', ..., 113265, 6994, 'Low'],
       ...,
       ['5 Series', 2010, 'Middle East', ..., 46126, 8280, 'High'],
       ['i3', 2020, 'Asia', ..., 58566, 9486, 'High'],
       ['X1', 2020, 'North America', ..., 77492, 1764, 'Low']],
      shape=(50000, 11), dtype=object)

In [32]:
df.dtypes

Model                    object
Year                      int64
Region                   object
Color                    object
Fuel_Type                object
Transmission             object
Engine_Size_L           float64
Mileage_KM                int64
Price_USD                 int64
Sales_Volume              int64
Sales_Classification     object
dtype: object

In [36]:
a=df.drop(columns=['Model'])
print(a)

       Year         Region   Color Fuel_Type Transmission  Engine_Size_L  \
0      2016           Asia     Red    Petrol       Manual            3.5
1      2013  North America     Red    Hybrid    Automatic            1.6
2      2022  North America    Blue    Petrol    Automatic            4.5
3      2024    Middle East    Blue    Petrol    Automatic            1.7
4      2020  South America   Black    Diesel       Manual            2.1
...     ...            ...     ...       ...          ...            ...
49995  2014           Asia     Red    Hybrid       Manual            4.6
49996  2023    Middle East  Silver  Electric       Manual            4.2
49997  2010    Middle East     Red    Petrol    Automatic            4.5
49998  2020           Asia   White  Electric    Automatic            3.8
49999  2020  North America    Blue    Diesel       Manual            3.3

       Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0          151748      98740          8300                 High
1          121671      79219          3428                  Low
2           10991     113265          6994                  Low
3           27255      60971          4047                  Low
4          122131      49898          3080                  Low
...           ...        ...           ...                  ...
49995      151030      42932          8182                 High
49996      147396      48714          9816                 High
49997      174939      46126          8280                 High
49998        3379      58566          9486                 High
49999      171003      77492          1764                  Low

[50000 rows x 10 columns]

In [39]:
a=df.rename(columns={'Sales_Volume':'Sales'})
print(a)

          Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales Sales_Classification
0                3.5      151748      98740   8300                 High
1                1.6      121671      79219   3428                  Low
2                4.5       10991     113265   6994                  Low
3                1.7       27255      60971   4047                  Low
4                2.1      122131      49898   3080                  Low
...              ...         ...        ...    ...                  ...
49995            4.6      151030      42932   8182                 High
49996            4.2      147396      48714   9816                 High
49997            4.5      174939      46126   8280                 High
49998            3.8        3379      58566   9486                 High
49999            3.3      171003      77492   1764                  Low

[50000 rows x 11 columns]

In [40]:
a=df.sort_values(by='Mileage_KM')
print(a)

          Model  Year         Region   Color Fuel_Type Transmission  \
5291         i3  2010         Africa   White    Petrol       Manual
7780   5 Series  2018  South America    Blue    Petrol    Automatic
23362  7 Series  2015  North America  Silver    Hybrid    Automatic
17180        X5  2017           Asia  Silver    Petrol    Automatic
20924  3 Series  2016         Europe     Red    Petrol    Automatic
...         ...   ...            ...     ...       ...          ...
22741        X5  2021           Asia    Blue    Hybrid    Automatic
48848        i3  2020    Middle East   Black    Petrol    Automatic
3681   7 Series  2024    Middle East   White  Electric       Manual
17872        X5  2016         Africa    Grey    Diesel       Manual
1009         X3  2011         Europe  Silver    Hybrid    Automatic

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
5291             2.8           3      93933          5336                  Low
7780             4.5          21      55195          9860                 High
23362            2.4          23      78427           348                  Low
17180            3.4          29      65476          6454                  Low
20924            2.7          36     114661          5912                  Low
...              ...         ...        ...           ...                  ...
22741            3.8      199979     106046          5681                  Low
48848            1.6      199987      99357          1721                  Low
3681             3.0      199991      35172          2178                  Low
17872            3.8      199995     111226          2362                  Low
1009             3.8      199996      50904          3775                  Low

[50000 rows x 11 columns]

In [41]:
a=df.drop_duplicates()
print(a)

          Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0                3.5      151748      98740          8300                 High
1                1.6      121671      79219          3428                  Low
2                4.5       10991     113265          6994                  Low
3                1.7       27255      60971          4047                  Low
4                2.1      122131      49898          3080                  Low
...              ...         ...        ...           ...                  ...
49995            4.6      151030      42932          8182                 High
49996            4.2      147396      48714          9816                 High
49997            4.5      174939      46126          8280                 High
49998            3.8        3379      58566          9486                 High
49999            3.3      171003      77492          1764                  Low

[50000 rows x 11 columns]

In [42]:
a=df.replace({'price_usd':'price'})
print(a)

          Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0                3.5      151748      98740          8300                 High
1                1.6      121671      79219          3428                  Low
2                4.5       10991     113265          6994                  Low
3                1.7       27255      60971          4047                  Low
4                2.1      122131      49898          3080                  Low
...              ...         ...        ...           ...                  ...
49995            4.6      151030      42932          8182                 High
49996            4.2      147396      48714          9816                 High
49997            4.5      174939      46126          8280                 High
49998            3.8        3379      58566          9486                 High
49999            3.3      171003      77492          1764                  Low

[50000 rows x 11 columns]

In [43]:
a=df.fillna(0)
print(a)

          Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0                3.5      151748      98740          8300                 High
1                1.6      121671      79219          3428                  Low
2                4.5       10991     113265          6994                  Low
3                1.7       27255      60971          4047                  Low
4                2.1      122131      49898          3080                  Low
...              ...         ...        ...           ...                  ...
49995            4.6      151030      42932          8182                 High
49996            4.2      147396      48714          9816                 High
49997            4.5      174939      46126          8280                 High
49998            3.8        3379      58566          9486                 High
49999            3.3      171003      77492          1764                  Low

[50000 rows x 11 columns]

In [44]:
a=df.replace({'NaN':0})
print(a)

          Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0                3.5      151748      98740          8300                 High
1                1.6      121671      79219          3428                  Low
2                4.5       10991     113265          6994                  Low
3                1.7       27255      60971          4047                  Low
4                2.1      122131      49898          3080                  Low
...              ...         ...        ...           ...                  ...
49995            4.6      151030      42932          8182                 High
49996            4.2      147396      48714          9816                 High
49997            4.5      174939      46126          8280                 High
49998            3.8        3379      58566          9486                 High
49999            3.3      171003      77492          1764                  Low

[50000 rows x 11 columns]

In [45]:
df['conatains_a']=df['Color'].str.contains('a')
print(df)

          Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume  \
0                3.5      151748      98740          8300
1                1.6      121671      79219          3428
2                4.5       10991     113265          6994
3                1.7       27255      60971          4047
4                2.1      122131      49898          3080
...              ...         ...        ...           ...
49995            4.6      151030      42932          8182
49996            4.2      147396      48714          9816
49997            4.5      174939      46126          8280
49998            3.8        3379      58566          9486
49999            3.3      171003      77492          1764

      Sales_Classification  conatains_a
0                     High        False
1                      Low        False
2                      Low        False
3                      Low        False
4                      Low         True
...                    ...          ...
49995                 High        False
49996                 High        False
49997                 High        False
49998                 High        False
49999                  Low        False

[50000 rows x 12 columns]

In [50]:
print(df['Region'].str.len())

0         4
1        13
2        13
3        11
4        13
         ..
49995     4
49996    11
49997    11
49998     4
49999    13
Name: Region, Length: 50000, dtype: int64

In [51]:
df_strip=df['Color'].str.strip()
print(df_strip)

0           Red
1           Red
2          Blue
3          Blue
4         Black
          ...
49995       Red
49996    Silver
49997       Red
49998     White
49999      Blue
Name: Color, Length: 50000, dtype: object

In [56]:
df_split=df['Fuel_Type'].str.split(' ')
print(df_split)

0          [Petrol]
1          [Hybrid]
2          [Petrol]
3          [Petrol]
4          [Diesel]
            ...
49995      [Hybrid]
49996    [Electric]
49997      [Petrol]
49998    [Electric]
49999      [Diesel]
Name: Fuel_Type, Length: 50000, dtype: object

In [57]:
df_mean=df['Mileage_KM'].mean()
print(df_mean)

100307.20314

In [58]:
df_min=df['Mileage_KM'].min()
print(df_min)

3

In [59]:
df_max=df['Mileage_KM'].max()
print(df_max)

199996

In [60]:
df_count=df['Mileage_KM'].count()
print(df_count)

50000

In [61]:
df_agg=df.groupby('Model')['Price_USD'].mean()
print(df_agg)

Model
3 Series    75566.233950
5 Series    75287.844077
7 Series    75570.196742
M3          74841.588715
M5          74474.930996
X1          75262.219037
X3          75016.616856
X5          74708.116782
X6          74434.600491
i3          74800.268081
i8          75366.270951
Name: Price_USD, dtype: float64